# You can use it to add commands that run after login to macOS user session.
# 'start-at-login' needs to be 'true' for 'after-login-command' to work
# Available commands: https://nikitabobko.github.io/AeroSpace/commands
after-login-command = []

# You can use it to add commands that run after AeroSpace startup.
# 'after-startup-command' is run after 'after-login-command'
# Available commands : https://nikitabobko.github.io/AeroSpace/commands
after-startup-command = [
  'exec-and-forget /opt/homebrew/bin/borders active_color=0xffe1e3e4 inactive_color=0xff494d64 width=5.0'
]


# Start AeroSpace at login
start-at-login = true

# Normalizations. See: https://nikitabobko.github.io/AeroSpace/guide#normalization
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

# See: https://nikitabobko.github.io/AeroSpace/guide#layouts
# The 'accordion-padding' specifies the size of accordion padding
# You can set 0 to disable the padding feature
accordion-padding = 40

# Possible values: tiles|accordion
default-root-container-layout = 'tiles'

# Possible values: horizontal|vertical|auto
# 'auto' means: wide monitor (anything wider than high) gets horizontal orientation,
#               tall monitor (anything higher than wide) gets vertical orientation
default-root-container-orientation = 'auto'

# Mouse follows focus when focused monitor changes
# Drop it from your config, if you don't like this behavior
# See https://nikitabobko.github.io/AeroSpace/guide#on-focus-changed-callbacks
# See https://nikitabobko.github.io/AeroSpace/commands#move-mouse
# Fallback value (if you omit the key): on-focused-monitor-changed = []
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

# You can effectively turn off macOS "Hide application" (cmd-h) feature by toggling this flag
# Useful if you don't use this macOS feature, but accidentally hit cmd-h or cmd-alt-h key
# Also see: https://nikitabobko.github.io/AeroSpace/goodies#disable-hide-app
automatically-unhide-macos-hidden-apps = true

[[on-window-detected]]
if.app-name-regex-substring = 'finder'
run = 'layout floating'

[[on-window-detected]]
if.app-name-regex-substring = 'mail'
run = 'layout floating'

[[on-window-detected]]
if.app-name-regex-substring = '1Password'
run = 'layout floating'

# Possible values: (qwerty|dvorak)
# See https://nikitabobko.github.io/AeroSpace/guide#key-mapping
[key-mapping]
    preset = 'qwerty'

# Gaps between windows (inner-*) and between monitor edges (outer-*).
# Possible values:
# - Constant:     gaps.outer.top = 8
# - Per monitor:  gaps.outer.top = [{ monitor.main = 16 }, { monitor."some-pattern" = 32 }, 24]
#                 In this example, 24 is a default value when there is no match.
#                 Monitor pattern is the same as for 'workspace-to-monitor-force-assignment'.
#                 See:
#                 https://nikitabobko.github.io/AeroSpace/guide#assign-workspaces-to-monitors
[gaps]
    inner.horizontal = 20
    inner.vertical =   10
    outer.left =       20
    outer.bottom =     20
    outer.top =        20
    outer.right =      20

# 'main' binding mode declaration
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
# 'main' binding mode must be always presented
# Fallback value (if you omit the key): mode.main.binding = {}
[mode.main.binding]
    # See: https://nikitabobko.github.io/AeroSpace/commands#layout
    alt-ctrl-slash = 'layout tiles horizontal vertical'
    alt-ctrl-comma = 'layout accordion horizontal vertical'

    # Make windows fullscreen
    # See: https://nikitabobko.github.io/AeroSpace/commands#fullscreen
    alt-ctrl-enter = 'fullscreen'

    # See: https://nikitabobko.github.io/AeroSpace/commands#focus
    alt-ctrl-h = 'focus left'
    alt-ctrl-j = 'focus down'
    alt-ctrl-k = 'focus up'
    alt-ctrl-l = 'focus right'

    alt-ctrl-left = 'focus left'
    alt-ctrl-down = 'focus down'
    alt-ctrl-up = 'focus up'
    alt-ctrl-right = 'focus right'

    # See: https://nikitabobko.github.io/AeroSpace/commands#move
    alt-ctrl-shift-h = 'move left'
    alt-ctrl-shift-j = 'move down'
    alt-ctrl-shift-k = 'move up'
    alt-ctrl-shift-l = 'move right'

    # See: https://nikitabobko.github.io/AeroSpace/commands#resize
    alt-ctrl-m = 'resize smart -50'
    alt-ctrl-p = 'resize smart +50'

    # NOTE: Maybe setup mnemonic workspaces, ie , s for slack , w for work , t for terminal
    # See: https://nikitabobko.github.io/AeroSpace/commands#workspace
    alt-ctrl-a = 'workspace A'
    alt-ctrl-s = 'workspace S'
    alt-ctrl-d = 'workspace D'
    alt-ctrl-f = 'workspace F'

    alt-ctrl-1 = 'workspace 1'
    alt-ctrl-2 = 'workspace 2'
    alt-ctrl-3 = 'workspace 3'
    alt-ctrl-4 = 'workspace 4'

    alt-ctrl-5 = 'workspace 5'

    # See: https://nikitabobko.github.io/AeroSpace/commands#move-node-to-workspace
    alt-ctrl-shift-a = 'move-node-to-workspace A'
    alt-ctrl-shift-s = 'move-node-to-workspace S'
    alt-ctrl-shift-d = 'move-node-to-workspace D'
    alt-ctrl-shift-f = 'move-node-to-workspace F'

    alt-ctrl-shift-1 = 'move-node-to-workspace 1'
    alt-ctrl-shift-2 = 'move-node-to-workspace 2'
    alt-ctrl-shift-3 = 'move-node-to-workspace 3'
    alt-ctrl-shift-4 = 'move-node-to-workspace 4'

    alt-ctrl-shift-5 = 'move-node-to-workspace 5'

    # See: https://nikitabobko.github.io/AeroSpace/commands#workspace-back-and-forth
    alt-ctrl-tab = 'workspace-back-and-forth'
    # See: https://nikitabobko.github.io/AeroSpace/commands#move-workspace-to-monitor
    alt-ctrl-shift-tab = 'move-workspace-to-monitor --wrap-around next'

    # See: https://nikitabobko.github.io/AeroSpace/commands#mode
    alt-ctrl-shift-semicolon = 'mode service'

    cmd-h = [] # Disable "hide application"
    cmd-alt-h = [] # Disable "hide others"

# 'service' binding mode declaration.
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
[mode.service.binding]
    esc = ['reload-config', 'mode main']
    r = ['flatten-workspace-tree', 'mode main'] # reset layout
    f = ['layout floating tiling', 'mode main'] # Toggle between floating and tiling layout
    backspace = ['close-all-windows-but-current', 'mode main']

    # sticky is not yet supported https://github.com/nikitabobko/AeroSpace/issues/2
    #s = ['layout sticky tiling', 'mode main']

    alt-ctrl-shift-h = ['join-with left', 'mode main']
    alt-ctrl-shift-j = ['join-with down', 'mode main']
    alt-ctrl-shift-k = ['join-with up', 'mode main']
    alt-ctrl-shift-l = ['join-with right', 'mode main']

    down = 'volume down'
    up = 'volume up'
    shift-down = ['volume set 0', 'mode main']

# Monitor sequence number from left to right. 1-based indexing
[workspace-to-monitor-force-assignment]
A = ['ASUS', 'main']
S = ['ASUS', 'main']
D = ['ASUS', 'main']
F = ['ASUS', 'main']

1 = ['FS233','secondary']
2 = ['FS233','secondary']
3 = ['FS233','secondary']
4 = ['FS233','secondary']

5 = ['^built-in retina display$',3]
